<!-- Header -->
<div id="header">
	<!-- Nav -->
		<nav id="nav" class="nav-content">
			<ul>
				<li><%= link_to 'Dashboard', pages_index_path %></li>
				<li><%= link_to 'Create new post', posts_new_path %></li>
			</ul>
		</nav>
</div>