<div class="container">
	<article id="main" class="special">
		<header>
			<br>
			<h2>DASHBOARD!</h2>
			<br>
			<h3>We will sensure the word "YOUR MOM".</h3>
			<p>All the posts are here!</p>
		</header>
		<div>
			<% @posts.each do |post| %>
			<div>
				<hr>
				<h2><%= post.title %></h2>
				<br>
				<div><%= image_tag(post.image_url) %></div>
				<p><%= post.content %></p>
			</div>
			<% end %>
		</div>
		<br>
    </article>
</div>