<div class="container">
	<article id="main" class="special">
        <br>
		<header>
			<h2>CREATE A NEW POST!</h2>
			<p>
				Here you can deposite your bullshit!
			</p>
		</header>
		<p class="text-center">
			This is your space. Feel free to post what you want, because this is a dead form.
		</p>
		<br>
    </article>
    <form id="create_posts" method="get" action="/posts/create">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label>Title</label>
                <input type="text" name="title">
            </div>
            <div class="col-md-6 mb-3">
                <label>Image's URL</label>
                <input type="text" name="image_url">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-12 mb-3">
                <label for="validationTextarea">Content</label>
                <textarea type="text" name="content"></textarea>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
    <br>
</div>